    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none !important;
        transition: 0.4s;
        line-height: 1.5rem;
        
    }


    body{
        background-color: #0f172a  !important;
        color: white;
        width: 100%;
        scroll-behavior:smooth;
        font-family:'Poppins' , 'Arial' !important;
        scroll-behavior: smooth;

    }
    section{
        position: relative;
        display: flex;
        max-height:max-content;
        width: 100%;
        

    }
    .section1{
        justify-content: center;
        width: 40%;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .header{
        height:30vh;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
    }
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .intro img{
        border-radius: 50%;
        border: 2px solid white;
        width: 200px;
        height: 200px;
        margin-bottom: 20px;
    }
    .intro img:hover{
        transform: scale(1.08);
    }
    #welcome {
        max-height: 100px ;
    }

    ul{
        padding: 0  40px ;
        list-style-type: none ;
        display: flex;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    .header{
        height: 100%;
        position: relative;
    }
    .header ul li a{
    
        cursor: pointer;
        font-size: 19px;
        color: white !important;
        letter-spacing: 1px;
        transition: 0.3s;
        border-left: 2px solid #ed8f8f ;
        padding-left: 5px;
        margin-right:40px;


    }
    .header ul li a:hover{
        border-bottom: 2px solid #ed8f8f;
        border-left: none;
        padding-bottom: 5px;
    }
    .header ul li{
        transition: ease 0.6s ;
        
    }
    .header ul li:hover{
    transform: scale(1.07);
    }

    .header p {
        margin:50px 0 ;
        font-size:22px;
        font-weight:550 ;
        letter-spacing: 1.5px;
        color: rgb(131, 232, 232);
        height: auto;
    }





    a,h1,li,h5{
        text-transform: capitalize;
    }
    h1,h4{
        letter-spacing: 2px;
        word-spacing: 4px;
        margin-bottom: 12px;
    }
    h1{
        font-size: 34px !important;
        font-weight: 700 !important;
    }
    h4{
    
        font-size: 28px;
        font-weight: 450;
        color: white;
    
    }
    #h4{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .media{
        width: 100%;
        height: 100px;
    }
    .medialinks li i{
        color: white;
        margin-right:20px ;
    
    }
    .medialinks li{
        transition: ease 0.4s ;
        
    }
        
    .medialinks li:hover{
    transform: scale(1.2);
    }


    .section2{
        min-height:200vh;
        width: 60%;
        position: absolute;
        right:0 ;
        color: #899bbb;
        letter-spacing: 1.2px;
        word-spacing: 2px;
        padding: 50px 100px;
    }
    .Description{ 
        padding: 20px !important;
        margin-bottom: 5.6rem;
        transition: 0.4s;

        
    }
    .Description p {
        padding-bottom: 20px;
        border-bottom: 2px solid whitesmoke;
        font-size: 19px !important; 
    }

    /* Cards style */
    .cards{
        display: flex;
        flex-direction: column;
        grid-gap: 30px;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;

    }
    .cards .card{
        padding: 20px 10px;
        border: 2px solid #899bbb ;
        border-radius: 6px 16px;
        min-height: 260px;
        width:80%;
        transition: 0.4s;
        cursor: pointer;
        background-color: #0f172a  !important;
        color: #899bbb;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    

    }
    .cards .card:hover{
        box-shadow: 2px 2px 10px rgb(21, 147, 185);
        transform: scale(1.03);
        color: rgb(255, 255, 255);
    
    }
    .cardHead,.cardFooter{
        display: flex;
        align-items: center;
        width: 100%;
        height: fit-content;
    
    }
    .cardHead .Title{
        color: gold;
        text-transform: uppercase;
        font-size: 19px;
        font-weight:500;
    }
    .cardHead .Title:nth-child(4){
        color: gold;
        text-transform: uppercase;
        font-size: 16.5px;
        font-weight:500;
    }

    .cardBody{
        height: 60%;
    }
    .cardHead{
        justify-content: space-between;
    }
    .cardFooter{
        justify-content: end;
    }
    .cardFooter a {
        padding: 0px 6px;
        text-decoration: none;
        color: white;
        
    }


    .cardHead img{
        width: 45px;
        height: 45px;
        color: white;
        border-radius: 3px;

    }
    /* Cards style */


    .popup{
        color: white !important;
        transform: scale(1.03);
        padding: 20px;
        border-color: white !important;
        box-shadow: 5px 5px  10px rgb(14, 123, 156);
    
    }

    .skills{
        padding: 30px 20px;
        height:max-content;
        width: 100%;
        margin-bottom: 5rem;
    }
    .intro h1{
    
    color: rgb(237, 144, 144);
    }

    .shown{
        right: 0% !important;
    }
    #up{
        display: none;
    }
    .Tooltip {
        position: relative;
        display: inline-block;
        cursor: pointer;
        list-style: none;
    }

    .Tooltip .Tooltiptext {
        visibility: hidden;
        width: max-content;
        word-spacing: normal;
        background-color: black;
        color: white;
        text-align: center;
        border-radius: 6px;
        border-top-left-radius: 20px;
        padding: 5px;
        font-size: 13px;
        position: absolute;
        z-index: 1;
        top: 125%; 
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 0.3s;
        animation: color 4s ;
    
    }

    .Tooltip:hover .Tooltiptext {
        visibility: visible;
        opacity: 1;
    }

    @keyframes color{
        10%{background-color: goldenrod;}
        20%{background-color: black;}
        30%{background-color: goldenrod;}
        40%{background-color: black;}
        50%{background-color: goldenrod;}
        60%{background-color: black;}
        70%{background-color: goldenrod;}
        80%{background-color: black;}
        90%{background-color: goldenrod;}
        100%{background-color: black;}

    }

    @media screen and (max-width : 1342px){
        body{
            padding-right: 0px;
        }
        .section2{
            padding-right: 0;
            padding-left: 5px;
            
        }
        
        
    }

    @media screen and (max-width : 1000px){
        body{
            padding: 40px 0px;
        }
        
        
    section{
        flex-direction: column !important;
    }
    .section1{
        position: relative;
        width: 100% !important;
        min-height: 80vh;
        justify-content: center;
        padding: 0;
    
    }

    .section2{
        padding-right:20px;
        padding-left:20px;
        width: 100%;
        position: relative;
        height:max-content;

    }
    .intro{
        justify-content: center;
    }
    h4,#output_p{
        width:min-content;
        line-height: 2.2rem;
    }

    .intro h1{
    display: flex;
    flex-direction: column;
    }
    .cards{
    align-items: center;
    }


    .fix{
        position: fixed;
        top: 50%;
        right: 0%;
        transform: translate(  0% , -50%);
        width: 40%;
        height:100vh;
        background: linear-gradient(to bottom, #1e449e , #071c4e ) ;
        transition: 0.9s;
        z-index: 1;
    
    
    }
    .fix ul{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 0 15px ;
        padding-top: 20px;
    }
    .fix ul li a{
        margin:0 ;
    
    }

    .navicon{
        position: fixed;
        right:5%;
        top: 5%;
        display: block !important;
        z-index: 3;
        cursor: pointer;
        color: white;
    }
    .hide{
        right: -50%;
    }
    #up{
        display: inline-block !important;
        border: none !important;

    }
    .Tooltiptext{
        display: none;
    }


    }
